{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/js/jstree/themes/default/style.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/js/select2/select2.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/js/select2/select2-bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
        .hide-overflow {
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            display: block;
        }
        #spinner {
            display: none;
        }
        .sidebar.affix {
            width: 375px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/jscroll/jquery.jscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jstree/jstree.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/zoom-master/jquery.zoom.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/select2/select2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {

            pageOptions = {};

            updateCatalog = function () {
                $.blockUI();
                $('#catalogBody').load(Routing.generate('catalog_list', pageOptions), function (data) {
                    $('#catalogBody').data('jscroll', null);
                    $('#catalogBody').jscroll({
                        loadingHtml: '<img src="{{ asset('image/ajax-loader.gif') }}">',
                        autoTrigger: true,
                        padding: 20,
                        nextSelector: 'a.jscroll-next:last'
                    });
                });
            };

            $('#categoryTree').jstree({
                "plugins": ["wholerow"],
                'core': {
                    'data': {
                        'url': function (node) {
                            if (node.id === '#') {
                                return Routing.generate('catalog_category_tree');
                            } else {
                                return Routing.generate('catalog_category_tree', {id: node.id});
                            }
                        },
                        'data': function (node) {
                            return {'id': node.id};
                        }
                    }
                }
            }).on('changed.jstree', function (e, jstreeData) {
                pageOptions['category_id'] = jstreeData.node.id;
                $('#catalogBody').text('Loading...');
                updateCatalog();
            });

            $('#catalogBody').on('click', 'a.view-product', function (e) {
                $('.modal-body').load(Routing.generate('catalog_view', {id: e.target.dataset.id}), {}, function () {
                    $('#myModal').modal('show');
                });
                return false;
            });

            $('body').on('click', '.clear-button', function (e) {
                $(".search-form input").val('');
                pageOptions['searchTerms'] = null;
                $('#catalogBody').text('Loading...');
                updateCatalog();
            });

            $('body').on('submit', '.search-form', function (e) {
                pageOptions['searchTerms'] = $(".search-form input").val();
                $('#catalogBody').text('Loading...');
                updateCatalog();
                e.preventDefault();
            });

            $('.choose-manufacturer').on('change', 'select', function (e) {
                pageOptions['manufacturer'] = $(this).val();
                $('#catalogBody').text('Loading...');
                updateCatalog();
                e.preventDefault();
            });

            $("body").on('submit', ".add-to-cart", function (e) {
                $.get(this.action, $(this).serialize(), function (data) {
                    $(e.target).html(data);
                });
                e.preventDefault();
            });

            $("#choose-manufacturer-select").select2();

        });
    </script>
{% endblock %}

{% block body %}

    <div class="col-md-4">

        <form class="choose-manufacturer" action="#" method="get">
            <select class="form-control" name="manufacturer" id="choose-manufacturer-select">
                <option value="">All Manufacturers</option>
                {% for manufacturer in manufacturers %}
                    <option value="{{ manufacturer.code }}">{{ manufacturer.name }}</option>
                {% endfor %}
            </select>
        </form>

        <div class="panel-body">
            <div id="categoryTree" class="hide-overflow"></div>
        </div>

    </div>

    <div class="col-md-8">

        <div class="row">

            <div class="well well-sm">
                <form class="search-form form-inline" action="#" method="get">
                    <input class="form-control" type="text" name="searchTerms" placeholder="Search...">
                    <button class="btn btn-default search-button" type="submit">Go</button>
                    <button class="btn btn-default clear-button" type="button" name="action" value="clear">Clear</button>
                </form>
            </div>

        </div>

        <div class="row">

            <div id="catalogBody"></div>

        </div>

    </div>

    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Product</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}