{% for product in products %}

    <div class="panel panel-default">

        <div class="panel-heading">

            <a class="text-capitalize hide-overflow view-product" href="#" data-id="{{product.id}}">{{ product.sku }} - {{ product.name }}</a>

        </div>

        <div class="panel-body">

            <div class="col-sm-2">
                {% if product.productAttachment %}
                    <div class="zoom" id="zoom-{{product.productAttachment.id}}">
                        <img src="{{ path('display_product_image', {path: product.productAttachment.path, width: 100, height: 100}) }}" alt="image">
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('#zoom-{{product.productAttachment.id}}').zoom({url: '{{ path('display_product_image', {path: product.productAttachment.path, width: 300, height: 300})|raw }}'});
                        });
                    </script>
                {% else %}
                    No Image Available
                {% endif %}

            </div>

            <div class="col-sm-5">
                {% if product.productDetail %}
                    <p>{{ product.productDetail.textDescription|length > 500 ? product.productDetail.textDescription|slice(0, 500) ~ '...' : product.productDetail.textDescription }} <a class="view-product" href="#" data-id="{{product.id}}">more</a></p>
                {% else %}
                    <p>No description available</p>
                {% endif %}
            </div>

            <div class="col-sm-5">

                <dl class="dl-horizontal">

                    <dt>SKU</dt>
                    <dd>{{ product.sku }}</dd>

                    <dt>Price</dt>
                    <dd>${{ product.price|number_format(2) }}</dd>

                    <dt>Stock Quantity</dt>
                    <dd>{{ product.stockQuantity }}</dd>

                    <dt>Manufacturer</dt>
                    <dd>{{ product.manufacturer.name }}</dd>

                    <dt>Product Type</dt>
                    <dd>{{ product.productType.name }}</dd>

                    {% if product.productDetail %}
                        {% if product.productDetail.color is not empty %}
                            <dt>Color</dt>
                            <dd>{{ product.productDetail.color }}</dd>
                        {% endif %}

                        {% if product.productDetail.material is not empty %}
                            <dt>Material</dt>
                            <dd>{{ product.productDetail.material }}</dd>
                        {% endif %}

                        {% if product.productDetail.packageHeight is not empty %}
                            <dt>Packaging Dimensions</dt>
                            <dd>{{ product.productDetail.packageHeight }}h x {{ product.productDetail.packageLength }}l x {{ product.productDetail.packageHeight }}w</dd>
                        {% endif %}
                    {% endif %}

                </dl>

                {% if is_granted('ROLE_CUSTOMER') %}

                    <div class="text-right">

                        {% if not cartCheck(product) %}

                            <form class="form-inline add-to-cart" action="{{ path('catalog_add_to_cart', {id: product.id}) }}" method="post">
                                <input class="form-control" type="text" name="quantity" value="1" size="3">
                                <button class="btn btn-default" type="submit">Add to Cart</button>
                            </form>

                        {% else %}

                            <p>Item is in cart</p>

                        {% endif %}

                    </div>

                {% endif %}

            </div>

        </div>

    </div>

{% endfor %}

{% if nextPage is defined %}
    <p class="text-center"><a class="jscroll-next" href="{{ nextPage }}">Load More Results</a></p>
{% endif %}