{% extends 'AppBundle:Weborders:layout.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/jscroll/jquery.jscroll.min.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var thread = null;

            pageOptions = {{pageOptions|json_encode|raw}};
            
            if (pageOptions['open']) {
                $("#openOrdersButton").addClass('active');
                $("#closedOrdersButton").removeClass('active');               
            } else {
                $("#closedOrdersButton").addClass('active');
                $("#openOrdersButton").removeClass('active');
            }
            
            updateWeborders = function () {
                $('#weborderBody').load(Routing.generate('weborders_ajax_list', pageOptions), function (data) {
                    $('#weborderBody').data('jscroll', null);
                    $('#weborderBody').jscroll({
                        loadingHtml: '<img src="{{ asset('image/ajax-loader.gif') }}">',
                        autoTrigger: true,
                        padding: 20,
                        nextSelector: 'a.jscroll-next:last'
                    });
                });
            };

            $('#weborderBody').on('click', 'a.view-weborder', function (e) {
                $.get(Routing.generate('weborders_ajax_view', {id: e.target.dataset.id}), function (data) {
                    $('.modal-body').html(data);
                    $('#weborderView').modal('show');
                });
                return false;
            });

{#            $("#searchForm").on('change keyup paste', ":input", function (e) {
                clearTimeout(thread);
                thread = setTimeout(function () {
                    pageOptions['searchTerms'] = $("input[name='searchTerms']").val();
                    {% if app.user.customerNumbers|length > 1 %}
                        pageOptions['customerNumber'] = $("select[name='customerNumber']").val();
                    {% else %}
                        pageOptions['customerNumber'] = '';
                    {% endif %}
                    console.log(pageOptions);
                    updateWeborders();
                },1000);
            });#}
            
            $("#searchForm").on('click', "button.open", function () {
                $("button.open").each(function() {
                    $(this).removeClass('active')});
                pageOptions['open'] = $(this).val();
                $(this).addClass('active');
                updateWeborders();
            });

            updateWeborders();

        });

    </script>
{% endblock %}

{% block weborders_body %}

    <div class="well well-sm">
        <form id="searchForm" class="form-inline" action="{{ path('weborders_index') }}" method="post">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Search..." name="searchTerms" value="{{ pageOptions.searchTerms }}">
            </div>
            <button class="btn btn-default" type="submit" name="action" value="search">Search</button>
            <button class="btn btn-default" type="submit" name="action" value="clear">Clear</button>
            {% if app.user.customerNumbers|length > 1 %}
                <select class="form-control" name="customerNumber">
                    <option value="">All Accounts</option>
                    {% for customerNumber in app.user.customerNumbers %}
                        <option value="{{ customerNumber }}">{{ customerNumber }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <div class="btn-group pull-right">
                <button class="btn btn-default open" id="openOrdersButton" type="button" name="open" value="1">Open Orders</button>
                <button class="btn btn-default open" id="closedOrdersButton" type="button" name="open" value="0">Closed Orders</button>
            </div>
        </form>
    </div>

    <div class="row">
        <span class="col-sm-2"><strong>Order Number</strong></span>
        <span class="col-sm-2"><strong>Order Number (Old)</strong></span>
        <span class="col-sm-2"><strong>Order Date</strong></span>
        <span class="col-sm-3"><strong>Customer PO / Reference</strong></span>
        <span class="col-sm-1"><strong>Status</strong></span>
        <span class="col-sm-2"><strong>Customer Number</strong></span>
    </div>

    <div id="weborderBody">Loading... please be patient...</div>

    <div class="modal" id="weborderView" tabindex="-1" role="dialog" aria-labelledby="weborderView" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Order</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
