{% for weborder in weborders %}

    <div class="row">
        <span class="col-sm-2"><a href="#" class="view-weborder" data-id="{{ weborder.orderNumber}}">{{ weborder.orderNumber }}</a></span>
        <span class="col-sm-2">{{ weborder.orderDate|date('Y-m-d') }}</span>
        <span class="col-sm-3">{{ weborder.reference1 }}</span>
        <span class="col-sm-2">
            <span id="status_{{ weborder.orderNumber }}"></span>
            <script>
                $(document).ready(function () {
                    $.get('{{ path('weborders_ajax_status', {orderNumber: weborder.orderNumber}) }}', function (data) {
                        $('#status_{{ weborder.orderNumber }}').text(data);
                    });
                });
            </script>
        </span>
        <span class="col-sm-3">{{ weborder.customerNumber }}</span>
    </div>

{% endfor %}

{% if nextPage is defined %}
    <p class="text-center"><a class="jscroll-next" href="{{ nextPage }}">Load More Results</a></p>
{% endif %}
