{% extends 'AppBundle::ajax_layout.html.twig' %}

{% block body %}

    {% for weborder in weborders %}

        <div class="row {% if weborder.credits is not empty %}bg-info{% endif %}">
            <span class="col-sm-2"><a href="#" class="view-weborder" data-id="{{ weborder.orderNumber}}">{{ weborder.orderNumber }}</a></span>
            <span class="col-md-2">{{ weborder.externalOrderNumber }}</span>
            <span class="col-sm-2">{{ weborder.orderDate|date('Y-m-d') }}</span>
            <span class="col-lg-3">{{ weborder.customerPO }}</span>
            <span class="col-sm-1">
                {% if weborder.shipments.count > 0 %}
                    P
                {% endif %}
                {% if weborder.packages.count > 0 %}
                    S
                {% endif %}
                {% if weborder.invoices.count > 0 %}
                    I
                {% endif %}
            </span>
            <span class="col-sm-2">{{ weborder.customerNumber }}</span>            
        </div>
        
        <hr>

    {% endfor %}

    {% if nextPage is defined %}
        <p class="text-center"><a class="jscroll-next" href="{{ nextPage }}">Load More Results</a></p>
    {% endif %}


{% endblock %}