{% extends 'admin.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        require(['jquery'], function ($) {
            function toggleShowInMenu(id) {
                $.post(Routing.generate('admin_products_toggle_shown'),
                        {id: id},
                function (response) {
                    if (response.code == 100 && response.success) {
                        console.log("Product Updated");
                    }
                },
                        "json"
                        );
            }

            $(document).ready(function () {
                $('.toggleShowInMenu').on('click', function () {
                    toggleShowInMenu(this.value);
                });
            });
        });
    </script>
{% endblock %}

{% block admin_body %}

    {{ include('admin/products/nav.html.twig') }}

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th style="width:10%;">SKU</th>
                <th style="width:60%">Name</th>
                <th style="width:5%;">Mfgr.</th>
                <th style="width:5%;">Type</th>
                <th style="width:5%;">Price</th>
                <th style="width:5%;">Stock</th>
                <th style="width:10%;">Shown</th>
                <th>Action</th>                
            </tr>
        </thead>
        <tbody>
            {% for product in pagination %}
                <tr>
                    <td><a href="{{ path('admin_edit_product', app.request.query.all|merge({id: product.id})) }}">{{ product.sku }}</a></td>
                    <td>{{ product.name }}</td>
                    <td><span title="{{ product.manufacturer.name }}">{{ product.manufacturer.code }}</span></td>
                    <td><span title="{{ product.productType.name }}">{{ product.productType.code }}</span></td>
                    <td class="text-right">${{ product.price|number_format(2) }}</td>
                    <td class="text-right">{{ product.stockQuantity }}</td>
                    <td class="text-center"><input class="toggleShowInMenu" type="checkbox" value="{{ product.id }}" {% if product.shown %}checked{% endif %}></td>
                    <td>
                        <a href="{{ path('admin_remove_product', app.request.query.all|merge({id: product.id})) }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}

{% endblock %}
