{% extends 'AdminBundle::layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.toggleExplicit').on('click', function () {
                $.post(Routing.generate('admin_product_attachment_toggle_explicit', {id: this.value}),
                function (response) {
                    if (response.code == 100 && response.success) {
                        console.log("Product Attachment Updated");
                    }
                }, "json");
            });
        });
    </script>
{% endblock %}

{% block admin_body %}

    {{ include('AdminBundle:ProductAttachment:nav.html.twig') }}

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th style="width:30%;">Image</th>
                <th style="width:60%">SKU</th>
                <th style="width:10%;">Explicit</th>
                <th>Action</th>                
            </tr>
        </thead>
        <tbody>
            {% for attachment in pagination %}
                <tr>
                    <td><a href="{{ path('admin_product_attachment_edit', app.request.query.all|merge({id: attachment.id})) }}"><img src="{{ image(attachment.absolutePath).resize(100,100) }}"></a></td>
                    <td>{{ attachment.product.sku }}</td>
                    <td class="text-center"><input class="toggleExplicit" type="checkbox" value="{{ attachment.id }}" {% if attachment.explicit %}checked{% endif %}></td>
                    <td>
                        <a href="{{ path('admin_product_attachment_remove', app.request.query.all|merge({id: attachment.id})) }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}

{% endblock %}
