{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block admin_body %}

    <h1>Statistics</h1>

    <h2>Catalog</h2>

    <dl class="dl-horizontal">
        <dt>Products:</dt>
        <dd>{{ number_of_products }}</dd>
        <dt>Categories:</dt>
        <dd>{{ number_of_categories }}</dd>
        <dt>Manufacturers:</dt>
        <dd>{{ number_of_manufacturers }}</dd>
        <dt>Product Types:</dt>
        <dd>{{ number_of_product_types }}</dd>
    </dl>

    <h2>Weborders</h2>

    <dl class="dl-horizontal">
        <dt>Open Orders:</dt>
        <dd>{{ number_of_open_orders }}</dd>
        <dt>Avg Orders Per Day:</dt>
        <dd>{{ avg_orders_per_day }}</dd>
    </dl>

    <h2>System</h2>

    <dl class="dl-horizontal">
        <dt>Number of Users:</dt>
        <dd>{{ number_of_users }}</dd>
    </dl>

{% endblock %}
