{% for product in pagination %}

    <div class="panel panel-default">

        <div class="panel-heading">

            <a class="text-capitalize hide-overflow view-product" href="#" data-id="{{product.id}}">{{ product.name }}</a>

        </div>

        <div class="panel-body">

            <div class="col-sm-2">
                {% if product.productAttachment %}

                    <a class="view-product" href="#" data-id="{{product.id}}">
                        <div class="zoom" id="zoom-{{product.productAttachment.id}}">
                            <img src="{{ image(product.productAttachment.url).resize(100,100) }}" alt="image">
                        </div>
                    </a>
                    <script>
                        $(document).ready(function () {
                            $('#zoom-{{product.productAttachment.id}}').zoom({url: '{{ image(product.productAttachment.url).resize(300,300) }}'});
                        });
                    </script>
                {% else %}
                    No Image Available
                {% endif %}

            </div>

            <div class="col-sm-5">
                {% if product.productDetail %}
                    <p>{{ product.productDetail.description }}</p>
                {% else %}
                    <p>No description available</p>
                {% endif %}
            </div>

            <div class="col-sm-5">

                <dl class="dl-horizontal">

                    <dt>Price</dt>
                    <dd>${{ product.price|number_format(2) }}</dd>

                    <dt>Stock Quantity</dt>
                    <dd>{{ product.stockQuantity }}</dd>

                    <dt>Manufacturer</dt>
                    <dd>{{ product.manufacturer.name }}</dd>

                    <dt>Product Type</dt>
                    <dd>{{ product.productType.name }}</dd>

                </dl>

                {% if is_granted('ROLE_CUSTOMER') %}

                    <div class="text-right">

                        {% if not cartCheck(product) %}

                            <form class="form-inline add-to-cart" action="{{ path('catalog_add_to_cart', {id: product.id}) }}" method="post">
                                <input class="form-control" type="text" name="quantity" value="1" size="3">
                                <button class="btn btn-default" type="submit">Add to Cart</button>
                            </form>

                        {% else %}

                            <p>Item is in cart</p>

                        {% endif %}

                    </div>

                {% endif %}

            </div>

        </div>

    </div>

{% endfor %}