{% if product.productAttachments|length > 0 %}
    <div class="zoom" id="zoom">
        <img src="{{ image(product.productAttachment.url).resize(300,300) }}" alt="image">
    </div>
    <script>
        $(document).ready(function () {
            $('#zoom').zoom({url: '{{product.productAttachment.url}}'});
        });
    </script>
{% else %}
    <h1 class="text-center" style="margin:1em;">No Image Available</h1>
{% endif %}

{% if product.productDetail %}
    <p>{{ product.productDetail.description }}</p>
{% endif %}

<dl class="dl-horizontal">
    <dt>SKU</dt>
    <dd>{{ product.sku }}</dd>

    <dt>Name</dt>
    <dd>{{ product.name }}</dd>

    <dt>Manufacturer</dt>
    <dd>{{ product.manufacturer.name }}</dd>

    <dt>Category</dt>
    <dd>{% if product.category %}{{ product.category.name }}{% else %}Not Categorized{% endif %}</dd>
</dl>

{% if is_granted('ROLE_CUSTOMER') %}

    {% if not cartCheck(product) %}

        <form class="form-inline add-to-cart" action="{{ path('catalog_add_to_cart', {id: product.id}) }}" method="post">
            <input class="form-control" type="text" name="quantity" value="1" size="3">
            <button class="btn btn-default" type="submit">Add to Cart</button>
        </form>

    {% else %}

        Item is in cart

    {% endif %}

{% endif %}