{% for invoice in invoices %}

    <div class="row">
        <span class="col-sm-2"><a href="#" class="view-invoice" data-id="{{ invoice.id }}">{{ invoice.orderNumber }}-{{ "%03d"|format(invoice.recordSequence) }}</a></span>
        <span class="col-sm-2">{{ invoice.invoiceDate|date('Y-m-d') }}</span>
        <span class="col-sm-2">${{ invoice.grossAmount|number_format(2) }}</span>
        <span class="col-sm-1">${{ invoice.freightCharge|number_format(2) }}</span>
        <span class="col-sm-1">${{ invoice.shippingAndHandlingCharge|number_format(2) }}</span>  
        <span class="col-sm-2">${{ invoice.netAmount|number_format(2) }}</span>  
        <span class="col-sm-2">{{ invoice.customerNumber }}</span>
    </div>

{% endfor %}

{% if nextPage is defined %}
    <p class="text-center"><a class="jscroll-next" href="{{ nextPage }}">Load More Results</a></p>
{% endif %}
