{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/jscroll/jquery.jscroll.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {

            $('#newProductBox').load(Routing.generate('dashboard_new_items'), function (data) {
                $('#newProductBox').data('jscroll', null);
                $('#newProductBox').jscroll({
                    loadingHtml: '<img src="{{ asset('image/ajax-loader.gif') }}">',
                    autoTrigger: true,
                    padding: 20,
                    nextSelector: 'a.jscroll-next:last'
                });
            });

            $('#openOrderBox').load(Routing.generate('dashboard_open_orders'), function (data) {
                $('#openOrderBox').data('jscroll', null);
                $('#openOrderBox').jscroll({
                    loadingHtml: '<img src="{{ asset('image/ajax-loader.gif') }}">',
                    autoTrigger: true,
                    padding: 20,
                    nextSelector: 'a.jscroll-next:last'
                });
            });

            $('#openOrderBox').on('click', 'a[href="#viewOrder"]', function (e) {
                $('.modal-body').load(Routing.generate('weborders_ajax_view', {id: e.target.dataset.id}), {}, function () {
                    $('#myModal').modal('show');
                });
                return false;
            });

            $('#newProductBox').on('click', 'a[href="#viewProduct"]', function (e) {
                $('.modal-body').load(Routing.generate('catalog_view', {id: e.target.dataset.id}), {}, function () {
                    $('#myModal').modal('show');
                });
                return false;
            });

        });
    </script>
{% endblock %}

{% block body %}

    <div class="container-fluid">

        <h1>Dashboard</h1>

        <div class="col-sm-6">

            <h2>New Products</h2>

            <div id="newProductBox" style="max-height: 500px; overflow-y:auto; overflow-x:hidden;">
                <img src="{{ asset('image/ajax-loader-line.gif') }}">
            </div>


        </div>

        <div class="col-sm-6">

            <h2>Open Orders</h2>

            <div id="openOrderBox" style="max-height: 500px; overflow-y:auto; overflow-x:hidden;">
                <img src="{{ asset('image/ajax-loader-line.gif') }}">
            </div>

        </div>

    </div>

    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Detail</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
