{% for order in orders %}
    <script>
        $(document).ready(function () {
            $.get('{{ path('weborders_ajax_status', {orderNumber: order.orderNumber}) }}', function (data) {
                $('#status_{{ order.id }}').text(data);
            });
        });
    </script>

    <div class="row">

        <div class="col-sm-12">

            <a href="#viewOrder" data-id="{{ order.orderNumber }}">{{ order.orderNumber }}</a><br>
            <b>Status</b>: <span id="status_{{ order.id }}"><img src="{{ asset('image/ajax-loader-line.gif') }}"></span><br>
            <b>Order Date</b>: {{ order.orderDate|date('Y-m-d') }}<br>
            <b>Customer</b>: {{ order.customerNumber }}<br>
            {% if order.externalOrderNumber is not empty %}<b>Ext. Ref</b>: {{ order.externalOrderNumber }}{% endif %}<br>
            {% if order.customerPO is not empty %}<b>Cust. PO</b>: {{ order.customerPO }}{% endif %}

        </div>

    </div>

    <hr>

{% endfor %}

{% if nextPage != '#' %}
    <p class="text-center"><a class="jscroll-next" href="{{ nextPage }}">Load More Results</a></p>
{% endif %}