{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/js/jstree/themes/default/style.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/tinymce/js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jstree/jstree.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.jstree.defaults.checkbox.three_state = false;
            $.jstree.defaults.checkbox.cascade = "undetermined";
            $.jstree.defaults.checkbox.tie_selection = false;
            
            $('#categoryTree').jstree({
                "plugins": ["wholerow", "checkbox"],
                'core': {
                    'data': {
                        'url': function (node) {
                            if (node.id === '#') {
                                return Routing.generate('admin_product_category_tree', {productId: {{ product.id }}});
                            } else {
                                return Routing.generate('admin_product_category_tree', {productId:{{ product.id }}, parentId: node.id});
                            }
                        },
                        'data': function (node) {
                            return {'id': node.id};
                        }
                    }
                }
            }).on('check_node.jstree', function (e, data) {
                $.post(Routing.generate('admin_product_add_to_category'), {productId:{{ product.id }}, categoryId: data.node.id},
                    function (response) {
                        if (response.code == 100 && response.success) {
                            console.log("Product Updated");
                        }
                    }
                );
            }).on('uncheck_node.jstree', function (e, data) {
                $.post(Routing.generate('admin_product_remove_from_category'), {productId:{{ product.id }}, categoryId: data.node.id},
                    function (response) {
                        if (response.code == 100 && response.success) {
                            console.log("Product Updated");
                        }
                    }
                );
            });
            
            tinymce.init({
                menubar : false,
                selector: "textarea.html-editor"
            });
            
            $('.setPrimary').on('click', function () {
                $('.setPrimary').each(function(x, v) {
                    if (v != this) {
                        v.checked = false;
                    }
                });
                $.post(Routing.generate('admin_product_make_primary_attachment', {id: this.value}),
                    function (response) {
                        if (response.code == 100 && response.success) {
                            console.log("Attachment made primary");
                        }
                    }, "json");
            });
        });
    </script>
{% endblock %}

{% block admin_body %}

    {{ include('AppBundle:Admin/Product:nav.html.twig') }}

    <div class="col-md-6">

        {{ form(form) }}

        <br>

        <p><a class="btn btn-danger" href="{{ path('admin_product_list', app.request.query.all) }}">Cancel</a></p>

    </div>

    <div class="col-md-6">

        Categories

        <div id="categoryTree"></div>

        Images

        <div class="col-sm-3">
            {% for attachment in product.productAttachments %}
                <img src="{{ image(attachment.absolutePath).resize(80,80) }}"><br>
                <div class="control-group">
                    <label class="control-label">Primary 
                        <input type="checkbox" 
                               class="setPrimary" 
                               value="{{ attachment.id }}" {% if attachment.primaryAttachment %}checked{% endif %}>
                    </label>
                </div>
                <a href="{{ path('admin_product_remove_product_attachment', {id: attachment.id}) }}">remove</a>
            {% endfor %}
        </div>

        {{ form(attachment_form) }}

    </div>

{% endblock %}
