{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/jscroll/jquery.jscroll.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            pageOptions = {{pageOptions|json_encode|raw}};
            
            updateCatalog = function() {       
                $('#catalogBody').load(Routing.generate('admin_product_list', pageOptions), function(data) {
                    $('#catalogBody').data('jscroll', null);
                    $('#catalogBody').jscroll({
                        loadingHtml: '<img src="{{ asset('image/ajax-loader.gif') }}">',
                        autoTrigger: true,
                        padding: 20,
                        nextSelector: 'a.jscroll-next:last'
                    });
                });
            };

            {#$('#catalogBody').on('click', 'a.view-product', function (e) {
                $.get(Routing.generate('admin_product_ajax_view', {itemNumber: e.target.dataset.id}), function (data) {
                    $('.modal-body').html(data);
                    $('#myModal').modal('show');
                });
                return false;
            }); #}           
            
            $('#catalogBody').on('click', ".toggleShowInMenu", function () {
                $.post(Routing.generate('admin_product_toggle_shown', {id: this.value}),
                        function (response) {
                            if (response.code == 100 && response.success) {
                                console.log("Product Updated");
                            }
                        }, "json");
            });
            
            updateCatalog();

        });
    </script>
{% endblock %}

{% block admin_body %}

    {{ include('AppBundle:Admin/Product:nav.html.twig') }}
    
    <div class="row">
        <span class="col-sm-2"><strong>SKU</strong></span>
        <span class="col-sm-7"><strong>Name</strong></span>
        <span class="col-sm-1"><strong>Mfgr.</strong></span>
        <span class="col-sm-1"><strong>Type</strong></span>
        <span class="col-sm-1 text-center"><strong>Shown</strong></span>
    </div>
    
    <div id="catalogBody"></div>

{% endblock %}
