{% for product in products %}
    <tr>
        <td><a href="{{ path('admin_product_edit', app.request.query.all|merge({id: product.id})) }}">{{ product.sku }}</a></td>
        <td>{{ product.name }}</td>
        <td><span title="{{ product.manufacturer.name }}">{{ product.manufacturer.code }}</span></td>
        <td><span title="{{ product.productType.name }}">{{ product.productType.code }}</span></td>
        <td class="text-center"><input class="toggleShowInMenu" type="checkbox" value="{{ product.id }}" {% if product.shown %}checked{% endif %}></td>
    </tr>
{% endfor %}