{% extends 'AdminBundle::layout.html.twig' %}

{% block admin_body %}
    
    {{ include('AdminBundle:User:nav.html.twig') }}
    
    {{ form_start(form) }}
    
        {{ form_errors(form) }}
        
        <div class="form-group">
            {{ form_widget(form.plainPassword) }}
        </div>
        
        {{ form_widget(form.save) }}
    
    {{ form_end(form) }}
    
{% endblock %}
