{% extends 'AdminBundle::layout.html.twig' %}

{% block admin_body %}

    {{ include('AdminBundle:User:nav.html.twig') }}

    <div class="row">

        <div class="col-md-6">

            {{ form(form) }}

        </div>

        <div class="col-md-6">

            {% if not user.hasRole('ROLE_ADMIN') %}

                <h3>Customers</h3>

                <ul class="list-unstyled">
                    {% for customerNumber in user.customerNumbers %}
                        <li>{{ customerNumber }} <a href="{{ path('admin_user_remove_customer', {id: user.id, customerNumber: customerNumber}) }}">remove</a></li>
                        {% endfor %}
                </ul>

                <form action="{{ path('admin_user_add_customer', {id: user.id}) }}" method="POST">
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="customerNumber" value="" placeholder="Customer Number">
                    </div>
                    <div class="col-sm-6">
                        <button class="btn" type="submit">Add</button>
                    </div>
                </form>

            {% endif %}

        </div>

    </div>

    <br>

    <p>
        <a class="btn btn-default" href="{{ path('admin_user_change_password', {id: user.id}) }}">Change Password</a>
    </p>

{% endblock %}
