{% extends 'admin.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        require(['jquery'], function($) {
            function toggleShowInMenu(id) {
                $.post(Routing.generate('admin_categories_toggle_show_in_menu'),
                    {id: id},
                    function (response) {
                        console.log(response);
                        if (response.code == 100 && response.success) {
                            console.log("Category Updated");
                        }
                    }
                );
            }

            $(document).ready(function() {
                $('.toggleShowInMenu').on('click', function() { toggleShowInMenu(this.value); });
            });
        });
    </script>
{% endblock %}

{% block admin_body %}
    
    {{ include('admin/categories/nav.html.twig') }}
        
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th style="width:10%;">Code</th>
                <th style="width:80%;">Name</th>
                <th style="width:10%;">In Menu</th>
                <th>Action</th>                
            </tr>
        </thead>
        <tbody>
            {% for category in pagination %}
                <tr>
                    <td><a href="{{ path('admin_edit_category', app.request.query.all|merge({id: category.id})) }}">{{ category.code }}</a></td>
                    <td>{{ category.fullPath }}</td>
                    <td class="text-center"><input class="toggleShowInMenu" type="checkbox" value="{{ category.id }}" {% if category.showInMenu %}checked{% endif %}></td>
                    <td>
                        <a href="{{ path('admin_remove_category', app.request.query.all|merge({id: category.id})) }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
    {{ knp_pagination_render(pagination) }}
    
{% endblock %}
